<!DOCTYPE html>
<!--[if lt IE 7]>
<html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>
<html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>
<html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!-->
<html lang="ch-ZN">
<!--<![endif]-->
<head>
  <meta charset='utf-8'>
  <title>薪福多-关于我们</title>
  <meta charset='utf-8'>
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="renderer" content="webkit">
  <meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=no">
  <meta name="Cache-Control" content="max-age=7200">
  <meta name="keywords" content="薪福多,人力资源,薪酬,考勤管理,工资代发,福利增值服务,员工管理,发工资条等">
  <meta name="description" content="薪福多是一款基于互联网、云计算技术，以企业员工薪酬理财增值服务为核心，为企业提供薪酬管理系统、薪酬理财增值、福利升级、信用消费等应用，形成企业员工在此平台上的薪酬查询、理财、商城消费等闭环">
  <link rel="shortcut icon" href="/images/favicon.ico">
  <link rel="stylesheet" href="/css/normalize.css">
  <link rel='stylesheet' href='/css/style.css' />
</head>
<body>
  <div id="header">
    <% include public/header.ejs %>
  </div>
  <div class="banner-about"></div>
  <div class="content-intro">
    <div class="content-title">
      <h2>公司介绍</h2>
      <p class="subhead">COMPANY PROFILE</p>
      <img src="/images/line.png" height="2" width="70" alt="">
    </div>
    <div class="content-text">
      <p>
        浙江薪福多网络科技有限公司是依托由软银中国携手浙江省商务人力资源交流服务中心（隶属浙江省商务厅）、中国国际人才开发中心、 江苏省外事服务中心、天津外国企业专家服务有限公司、湖北外服鑫中浩人力资源服务有限公司、内蒙古金安达人力资源服务有限责任公司、河南省外国企业服务有限总公司、青岛市外国企业服务总公司等全国10多家国内知名人力资源服务机构共同组建的昊基人力为基础渠道和资源的全国性薪酬福利服务外包的线上平台，业务覆盖全国31个省，333个市的服务网点；也是地方政府重点扶持和共同打造的“新兴人力资源服务外包”专业机构。
      </p>
      <p>
        浙江薪福多网络科技拥有强大的云计算平台、先进的信息管理系统、庞大的服务网点和全国的人事系统服务商、人力资源服务商、弹性福利供应商、保险供应商、体检供应商，高覆盖、高效率的为企业提供线上专业服务，彻底实现人事外包服务最基本的B2B2C、 O2O的服务方式。
      </p>
    </div>
  </div>
  <div class="content-values">
    <div class="content-title">
      <h2>企业价值观</h2>
      <p class="subhead">CORPORATE VALUES</p>
      <img src="/images/line.png" height="2" width="70" alt="">
    </div>
    <div class="content-text">
      <div class="values-layout">
        <ul>
          <li class='value-1'>
            <p class='title'>客户幸福</p>
            <p>服务客户</p>
            <p>诚信客户</p>
          </li>
          <li class='value-2'>
            <p class="title">敬业合作</p>
            <p>敬业爱岗</p>
            <p>团队合作</p>
          </li>
          <li class='value-3'>
            <p class="title">诚实正直</p>
            <p>敬业合作</p>
            <p>团队合作</p>
          </li>
          <li class='value-4'>
            <p class="title">简单高效</p>
            <p>化繁为简</p>
            <p>效率优先</p>
          </li>
          <li class='value-5'>
            <p class="title">乐于创新</p>
            <p>勇于改变</p>
            <p>不断学习</p>
          </li>
        </ul>
      </div>
    </div>
  </div>
  <div class="content-vision">
    <div class="content-title">
      <h2>愿景及使命</h2>
      <p class="subhead">VISION AND MISSION</p>
      <img src="/images/line.png" height="2" width="70" alt="">
    </div>
    <div class="content-text">
      <div class="vision-left">
        <img src="/images/visi-misi.png" height="284" width="285" alt="">
      </div>
      <div class="vision-right">
        <h2>愿景</h2>
        <p>
          使每一个企业及员工因薪福多而幸福
        </p>
        <h2>使命</h2>
        <p>
          为企业薪福而努力创新
        </p>
        <p>
          为员工幸福而精心服务
        </p>
      </div>
    </div>
  </div>
  <div id="footer">
    <% include public/footer.ejs %>
  </div>
  </body>
</html>
