<!DOCTYPE html>
<!--[if lt IE 7]>
<html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>
<html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>
<html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!-->
<html lang="ch-ZN">
<!--<![endif]-->
  <head>
    <meta charset='utf-8'>
    <title>薪福多-幸福薪选择 工资代发 福利增值服务 员工管理、发工资条等</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="renderer" content="webkit">
    <meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=no">
    <meta name="Cache-Control" content="max-age=7200">
    <meta name="keywords" content="薪福多,人力资源,薪酬,考勤管理,工资代发,福利增值服务,员工管理,发工资条等">
    <meta name="description" content="薪福多是一款基于互联网、云计算技术，以企业员工薪酬理财增值服务为核心，为企业提供薪酬管理系统、薪酬理财增值、福利升级、信用消费等应用，形成企业员工在此平台上的薪酬查询、理财、商城消费等闭环">
    <link rel="shortcut icon" href="/images/favicon.ico">
    <link rel="stylesheet" href="/css/normalize.css">
    <link rel='stylesheet' href='/css/style.css' />
  </head>
  <body>
    <div id="header">
      <% include public/header.ejs %>
    </div>
    <div class="banner-index">
    <ul>
      <li style="background-image:url(images/index-banner.png);"></li>
      <li style="background-image:url(images/index-banner2.png);display:none"></li>
    </ul>
    <ol></ol>
    <a href="javascript:;" id="prev"></a>
    <a href="javascript:;" id="next"></a>
  </div>
  <div class="content-project">
    <div class="content-title">
      <h2>项目介绍</h2>
      <p class="subhead">PROJECT INTRODUCTION</p>
      <img src="images/line.png" height="2" width="70" alt="">
    </div>
    <div class="content-text">
      <div class="guid-layout">
        <div class="guid">
          <div class="top">
            <img src="images/icon_01.png" height="130" width="130" alt="">
            <p>薪酬代发</p>
          </div>
          <span>薪酬设计、薪酬计算、薪酬发放、个人所得税计算的一站式服务。</span>
        </div>
        <div class="guid">
          <div class="top">
            <img src="images/icon_02.png" height="130" width="130" alt="">
            <p>外包服务</p>
          </div>
          <span>生产线外包、仓储物流外包、短期项目外包、临时工外包:解决企业临时性用工问题。</span>
        </div>
        <div class="guid">
          <div class="top">
            <img src="images/icon_03.png" height="130" width="130" alt="">
            <p>人事代理</p>
            <span>人员招聘、薪酬发放、社保代缴、工伤处理咨询、劳务纠纷咨询等服务。</span>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="content-product">
    <div class="content-title">
      <h2>产品特点</h2>
      <p class='subhead'>PRODUCT FEAURES</p>
      <img src="images/line.png" height="2" width="70" alt="">
    </div>
    <div class="content-text">
      <div class="news">
        <h2 class="title">薪福多</h2>
      </div>
      <div class="older">
        <h2 class="title">传统发工资</h2>
      </div>
      <div class="clearfix"></div>
      <div class="feature">
        <ul class="news-list">
          <li>
            <span class="icon icon_1"></span>
            <span><b>高效</b>定时自动发放工资</span>
          </li>
          <li>
            <span class="icon icon_3"></span>
            <span><b>精准</b>数据输出准确率达99.9%</span>
          </li>
          <li>
            <span class="icon icon_4"></span>
            <span><b>安全</b>不留存、泄露员工信息</span>
          </li>
          <li>
            <span class="icon icon_5"></span>
            <span><b>专业</b>专业的税务优化方案</span>
          </li>
        </ul>
        <ul class="older-list">
          <li class='li-left'>
            <span class="icon icon_7"></span>
            <span>无法定时发放，需手动输入</span>
          </li>
          <li class='li-left'>
            <span class="icon icon_8"></span>
            <span>多银行可管理，管理繁琐成本高</span>
          </li>
          <li class='li-left'>
            <span class="icon icon_9"></span>
            <span>人工输入错误率高</span>
          </li>
          <li>
            <span class="icon icon_10"></span>
            <span>企业专业性不足，无法合理优化税务方案</span>
          </li>
        </ul>
        <div class="vs"></div>
      </div>
    </div>
  </div>
  <div class="strategic-partiners">
    <div class="content-title">
      <h2>合作伙伴</h2>
      <p class='subhead'>STRATEGIC PARTINERS</p>
      <img src="images/line.png" height="2" width="70" alt="">
    </div>
    <div class="content-text">
      <div>
        <a href="http://www.cmbchina.com" title="招商银行" target="_blank">
          <img src="images/friend/cmbc.png" height="88" width="233" alt="">
        </a>
        <a href="http://www.haoji-hr.com/" title="昊基人力" target="_blank">
          <img src="images/friend/haoji-hr.png" height="88" width="233" alt="">
        </a>
        <a href="http://www.zjswrc.com" title="浙江省商务人力资源交流服务中心" target="_blank">
          <img src="images/friend/zjswrc.png" height="88" width="233" alt="">
        </a>
        <a href="http://www.zcom.gov.cn" title="浙江省商务厅" target="_blank">
          <img src="images/friend/zcom.png" height="88" width="233" alt="">
        </a>
      </div>
      <div>
        <a href="http://www.fdi-fesco.com/" title="浙江省国际投资服务中心" target="_blank">
          <img src="images/friend/fdi-fesco.png" height="88" width="233" alt="">
        </a>
        <a href="http://www.zjwh.gov.cn/" title="浙江省文化厅" target="_blank">
          <img src="images/friend/zjwh.png" height="88" width="233" alt="">
        </a>
        <a href="http://www.hrofirst.com/" title="智阳" target="_blank">
          <img src="images/friend/hrofirst.png" height="88" width="233" alt="">
        </a>
        <a href="http://www.sunyard.com/" title="信雅达" target="_blank">
          <img src="images/friend/sunyard.png" height="88" width="233" alt="">
        </a>
      </div>
      <div>
        <a href="http://www.decathlon.com.cn/" title="迪卡侬" target="_blank">
          <img src="images/friend/decathlon.png" height="88" width="233" alt="">
        </a>
        <a href="http://www.sf-express.com/cn/sc/" title="顺丰速运" target="_blank">
          <img src="images/friend/sf-express.png" height="88" width="233" alt="">
        </a>
        <a href="http://www.jsbchina.cn/" title="江苏银行" target="_blank">
          <img src="images/friend/jsbchina.png" height="88" width="233" alt="">
        </a>
        <a href="http://www.nbcb.com.cn/" title="宁波银行" target="_blank">
          <img src="images/friend/nbcb.png" height="88" width="233" alt="">
        </a>
      </div>
    </div>
  </div>
  <div id="footer">
    <% include public/footer.ejs %>
  </div>
  <script src="//cdn.bootcss.com/jquery/1.11.3/jquery.min.js"></script>
  <script src='/js/xinfuduo.js'></script>
  <script type='text/javascript'>
    Xinfud.initSwiper();
  </script>
  </body>
</html>
