<!DOCTYPE html>
<!--[if lt IE 7]>
<html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>
<html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>
<html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!-->
<html lang="ch-ZN">
<!--<![endif]-->
  <head>
    <meta charset='utf-8'>
    <title>薪福多-薪酬服务</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="renderer" content="webkit">
    <meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=no">
    <meta name="Cache-Control" content="max-age=7200">
    <meta name="keywords" content="薪福多,人力资源,薪酬,考勤管理,工资代发,福利增值服务,员工管理,发工资条等">
    <meta name="description" content="薪福多是一款基于互联网、云计算技术，以企业员工薪酬理财增值服务为核心，为企业提供薪酬管理系统、薪酬理财增值、福利升级、信用消费等应用，形成企业员工在此平台上的薪酬查询、理财、商城消费等闭环">
    <link rel="shortcut icon" href="/images/favicon.ico">
    <link rel="stylesheet" href="/css/normalize.css">
    <link rel='stylesheet' href='/css/style.css' />
  </head>
  <body>
    <div id="header">
      <% include public/header.ejs %>
    </div>
    <div class="banner-server"></div>
  <div class="content-intro">
    <div class="content-title">
      <h2>薪福多是什么？</h2>
      <p class="subhead">WHAT WE ARE?</p>
      <img src="/images/line.png" height="2" width="70" alt="">
    </div>
    <div class="content-text">
      <p>
        薪福多是一款企业薪酬福利一站式服务增值平台，拥有强大的云计算系统、庞大的服务网点，以企业薪酬服务为核心，为企业提供薪酬管理、薪酬代发以及数据处理分析等应用，让薪酬发放变得更加安全、专业、高效。在此核心任务的基础上，我们延伸企业和员工的增值服务，为企业提供薪酬设计、个税申报、社保及公积金代缴、福利商城兑换等服务，彻底实现人事外包最基本的B2B2C以及O2O服务方式。薪福多属于“人力资源+互联网”的新兴产业，我们正致力于将其打造成为全国人力资源薪酬服务外包行业中的标杆企业。
      </p>
    </div>
  </div>
  <div class="content-functional">
    <div class="content-title">
      <h2>功能优势</h2>
      <p class="subhead">FUNCTIONAL ADVANTAGE</p>
      <img src="/images/line.png" height="2" width="70" alt="">
    </div>
    <div class="content-text">
      <div class="functional-layout">
        <ul>
          <li class="functional-1">
            <p class="title">政策优势</p>
            <span>人力资源服务产业是国家鼓励发展产业。</span>
          </li>
          <li class="functional-2">
            <p class="title">安全可靠</p>
            <span>具有较强的公信力，由浙江省商务厅浙江商务人力资源交流服务中心、招商银行等机构为背景。</span>
          </li>
          <li class="functional-3">
            <p class="title">合法资质</p>
            <span>具有人力资源服务专项许可证及科技互联网经营资质。</span>
          </li>
          <li class="functional-4">
            <p class="title">渠道优势</p>
            <span>由软银中国、中国国际人才、浙江商务人力资源交流服务中心、江苏外服、湖北外服、青岛外服、天津外服、河南外服等13家全国知名机构共同投资所建立的21个省级昊基网络体系。</span>
          </li>
          <li class="functional-5">
            <p class="title">团队优秀</p>
            <span>团队成员来自阿里及其他知名互联网公司、知名的人力资源公司, 拥有丰富的行业专业经验。</span>
          </li>
          <li class="functional-6">
            <p class="title">技术优势</p>
            <span>属于高科技企业，拥有强大的技术背景及行业资源背景，有自主研发的薪酬福利平台。</span>
          </li>
        </ul>
      </div>
    </div>
  </div>
  <div class="content-risk">
    <div class="content-title">
      <h2>风险评估</h2>
      <p class="subhead">RISK ASSESSMENT</p>
      <img src="/images/line.png" height="2" width="70" alt="">
    </div>
    <div class="content-text">
      <ul>
        <li class='right risk-1'>
          <span>
            项目外包是国家支持与鼓励的发展方向
          </span>
        </li>
        <li class='left risk-2'>
          <span>
            我司具有人力资源服务专项许可证及科技公司互联网经营资质
          </span>
        </li>
        <li class="right risk-3">
          <span>
            我司属于高科技企业，拥有强大的政府背景及资源，确保与客户合作的长期稳定性
          </span>
        </li>
        <li class="left risk-4">
          <span>
            服务专业: 公司拥有行业内高素质员工组成的专业团队，同时拥有省商务厅背景及省商务人力和浙江昊基母公司的专业支持等
          </span>
        </li>
        <li class="right risk-5">
          <span>
            拥有强大的法律后台服务系统，确保各业务合规上线
          </span>
        </li>
        <li class="left risk-6">
          <span>
            我司具备开具劳务费、服务费等形式发票符合现代财务制度
          </span>
        </li>
      </ul>
    </div>
  </div>
  <div id="footer">
    <% include public/footer.ejs %>
  </div>
  </body>
</html>
