<div class="footer">
  <div class="footer-container">
    <div class="wechat">
      <img src="/images/wechat.png" height="140" width="140" alt="">
      <p>微信公众号</p>
    </div>
    <div class="about-me">
      <p>
        <span>业务合作热线：</span> 
        <a class='hot'>400-780-0087</a>
        <span style="margin-left:30px;">官方QQ群：</span>
        <a class='hot'>301143895</a>
      </p>
      <p>
        <span>业务合作邮箱：</span>
        <a href="mailto:service@xinfud.com">service@xinfud.com</a>
      </p>
      <p>
        <span>联系地址：</span>
        <span>中国浙江省杭州市延安路466号浙江经贸大楼南13楼</span>
      </p>
      <div class="footer-line"></div>
      <p class="friend-link">
        <span class="hot">友情链接</span>
        <a href="http://www.zcom.gov.cn/" target="_blank">浙江省商务厅</a>
        <a href="http://www.zjswrc.com/" target="_blank">浙江省商务人力资源交流服务中心</a>
        <a href="http://www.zjhrss.gov.cn/" target="_blank">浙江省人力资源和社会保障厅</a>
      </p>
      <p>Copyright © 2016 浙江省杭州市薪福多 版权所有</p>
    </div>
    <div class="clearfix"></div>
  </div>
</div>