<div class="nav">
  <div class="nav-middle"></div>
  <a href="/" class="logo">
    <img src="/images/header-logo-v2.png" height="55" width="300" alt="">
  </a>
  <span>
    <a href="/" class=<%= index %> ><div>首页</div></a>
    <a href="/server" class=<%= server %>  ><div>薪酬福利</div></a>
    <a href="/news" class=<%= news %>  ><div>行业动态</div></a>
    <a href="/about" class=<%= about %>  ><div>关于我们</div></a>
  </span>
</div>